@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.match_card {
  height: 100%;
  width: 100%;
  padding: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) no-repeat
    center;
  display: table;
  top: 0;
  background-size: cover;
  border-radius: 25px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.match_card .container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  max-width: none;
}

.card_wrapper {
  margin: 0.5px;
  height: calc(100% - 1px);
  width: calc(100% - 1px);
  font-size: 18px;
  color: white;
}

.match_state {
  display: table-cell;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  vertical-align: middle;
  width: auto;
  height: auto;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
  line-height: 25px;
  background: #245646;
  border-radius: 5px;
  text-transform: uppercase;
}

.logo {
  height: 70px;
  width: 70px;
}

.data {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.top {
  height: 20%;
}
.middle {
  height: 60%;
}
.bottom {
  height: 20%;
}

.data_middle {
  display: -webkit-flex;
  height: 60%;
  width: 100%;
}

.data .data_bottom {
  height: 20%;
  width: 100%;
}

img {
  width: 18vh;
  height: 18vh;
  transition: all 1s, opacity 500ms 0ms;
  filter: contrast(200%);
}

.card_container_middle {
  display: inline-block;
}

.card_container_center {
  margin-left: 100px;
  margin-right: 100px;
}

.card_container_left {
  float: left;
  width: 33%;
}

.card_container_right {
  float: right;
  width: 33%;
}

.image_container {
  display: inline-block;
  position: relative;
}

/*NEW*/

.position_home {
  position: absolute;
  right: 0;
  bottom: -25px;
  color: white;
}

.position_away {
  position: absolute;
  right: 20px;
  bottom: -25px;
  color: white;
}

.team_name_placeholder {
  color: white;
}

h1 h2 h3 h4 h5 h6 {
  padding: 0;
  margin: 0;
}
